body {
  margin-left: 30%;
  color: #050229;
}
ul {
  list-style: none;
} 
h1 {
  text-align: center;
}
button {
  background-color: #564caf;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}
#container {
  margin: 0 auto;
  width: 50%;
  border: solid thin silver;
  border-radius: 10px;
  background-color: azure;
  list-style: none;
  padding: 0;
  margin: 0;
}
.add-button {
  margin-left: 9%;
 }
#new-task {
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  margin-left: 9%;
}
#task-list li {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 5%;
  margin-right: 7%;
}
.delete-button {
  background-color: #36cef4;
  color: white;
  border: none;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-left: 5%;
}